<div class="item-detail">
  <div class="item-header">
    <h1><%= @menu_item.name %></h1>
    <div class="item-meta">
      <span class="category"><%= @menu_item.category %></span>
      <span class="price">$<%= @menu_item.price %></span>
      <% unless @menu_item.available %>
        <span class="unavailable-badge">Currently Unavailable</span>
      <% end %>
    </div>
  </div>
  <div class="item-description">
    <h3>Description</h3>
    <p><%= @menu_item.description %></p>
</div>
  <div class="item-actions">
    <%= link_to "Edit", edit_menu_item_path(@menu_item), class: "btn btn-
warning" %>
    <%= link_to "Delete", @menu_item, method: :delete,
confirm: "Are you sure?", class: "btn btn-danger" %>
    <%= link_to "Back to Menu", menu_items_path, class: "btn btn-secondary"
%> </div>
</div>
