<nav class="navbar">
  <div class="nav-container">
    <%= link_to "RestaurantApp", root_path, class: "nav-brand" %>
    <div class="nav-links">
      <%= link_to "Home", root_path, class: "nav-link" %>
      <%= link_to "About", about_path, class: "nav-link" %>
      <%= link_to "Menu", menu_path, class: "nav-link" %>
      <%= link_to "Book Table", book_path, class: "nav-link" %>
      <%= link_to "Reservations", reservations_path, class: "nav-link" %>
    </div>
  </div>
</nav>
